<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css" / >
</head>
<body>
<div class="container">
	<h1>Welcome <%= userid %></h1>
	<div>
		<p>
			<a style="color:white" href="./logout">Logout</a>
		</p>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<p style="color:white" class="text-muted">Sample footer content.</p>
	</div>
</footer>
</body>
</html>